*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    color:black;
    font-size: 60px
}
h2{
    font-size: 30px
}
header{
    border: solid 10px;
    height:140px;
    background-color: blueviolet;
}
#logo{
    float:left;
    width: auto;
    height: 50px;
    border-radius: 15%;
 
   
}
 section img {
    
        float: left;
        width: 33.33%;
        padding: 15px;
        height: 300px;
       
 }

 section img:hover {
 border: 5px solid rgb(158, 73, 73);
cursor: pointer;
      }


main{
    background-color: yellow;
    size: 800px;
}
footer{
 background-color: rgb(63, 189, 147);
    height:50px

}
p{
    text-align:left;
}
section + div {
    padding: 2rem;
    grid-column-start: 2;
    grid-column-end: 3;
  }